.container { 
  width: 11in; 
  padding: 0; 
  margin: 0; 
} 
.row { 
  height: 8.5in; 
  display: inline-flex; 
  padding: 0; 
  margin: 0; 
  overflow-y: hidden; 
  max-height: 8.5in; 
  width: 100%; 
} 
.cell { 
  display: inline-block; 
  padding: 20px; 
  width: 33.33%; 
} 
.blue { 
  background-color: blue; 
} 
.red { 
  background-color: red; 
} 
.tall { 
  height: 900px; 
} 

/*.blackborder { 
    border: solid 1px black; 
} 
body { 
    background-color: powderblue; 
} 
div { 
    background-color: white; 
    border: 1px solid black; 
    height: 100px; 
    margin: 10px; 
    width: 100px; 
} 
h1 { 
    color: blue; 
} 
h2 { 
    background-color: white; 
} 
.headerDiv {
    font-size: 45px; 
    text-transform: uppercase; 
    margin: 10px; 
} 
.pinkBorder {
    border: solid 10px pink;
} 
p { 
    color: red; 
} */
