html {
    background-color: black;
    font-family: helvetica, arial, sans-serif;
    letter-spacing: 1px;
}
.column {
    background-color: white;
    border: 4mm ridge rgba(170, 50, 220, .75);
    display: inline-block;
    width: 30.555%;
}
.columnhead {
    text-align: center;
    text-decoration: underline;
    font-weight: bolder;
    text-transform: uppercase;
}
.columnsubhead {
    text-align: left;
    font-weight: bold;
}
.columnbody {
    text-align: left;
}