p { 
  color: blue; /* Styles! */ 
  font-size: 20px; 
  font-style: italic; 
  line-height: 22px; 
} 
span { 
  color: blue; 
} 
h1 { 
  style:style; 
} 
h2 { 
  style:style; 
} 
body { 
  style:style; 
} 
div { 
  style:style; 
} 
